
<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center">Registro</h2>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5 ml-auto">
                      <div class="info info-horizontal">
                        <div class="icon icon-rose">
                          <i class="material-icons">timeline</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Desafio</h4>
                          <p class="description">
                            Um pequeno desafio realizado na data de 04/2021 com o objetivo de mostrar meus conhecimentos com Angular e .Net Core
                          </p>
                        </div>
                      </div>
                      <div class="info info-horizontal">
                        <div class="icon icon-info">
                          <i class="material-icons">group</i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">Objetivo</h4>
                          <p class="description">
                              Seus amigos vivem pedindo seus jogos emprestados. Muitas vezes você quer jogar um jogo e não sabe com quem está. Pensando nisso, crie um sistema que você possa gerenciar os empréstimos dos seus jogos. O sistema deverá permitir a inserção/edição/exclusão de amigos e jogos, além de permitir o gerenciamento e visualização dos seus jogos, dos amigos e qual jogo está com quem..
                          </p>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
                      <div class="form-group">
                        <div class="input-group">
                          <mat-form-field class="example-full-width" [ngClass]="{'has-success':nameEhValido===true}" [ngClass]="displayFieldCss(formGroup, 'name')">
                            <input type="text" matInput id="Nome" (ngModelChange)="nameValidation($event)" placeholder="Nome" formControlName="name">
                            <mat-error *ngIf="isFieldValid(formGroup, 'name') && formGroup.controls['name'].hasError('required')">Nome é inválido. Informe o name.</mat-error>                                      
                            <mat-error *ngIf="isFieldValid(formGroup, 'name') && formGroup.controls['name'].hasError('minlength')">Nome deve conter no mínimo 2 caracteres.</mat-error>                                      
                            <mat-error *ngIf="isFieldValid(formGroup, 'name') && formGroup.controls['name'].hasError('maxlength')">Nome deve conter no maximo 100 caracteres.</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':loginEhValido===true}" [ngClass]="displayFieldCss(formGroup, 'login')">
                            <input type="text" matInput id="Login" (ngModelChange)="loginValidation($event)" placeholder="Email..." formControlName="login">
                            <mat-error *ngIf="isFieldValid(formGroup, 'login') && formGroup.controls['login'].hasError('required')">Email é inválido. Informe o login.</mat-error>                                      
                            <mat-error *ngIf="isFieldValid(formGroup, 'login') && formGroup.controls['login'].hasError('minlength')">Email deve conter no mínimo 6 caracteres.</mat-error>                                      
                            <mat-error *ngIf="isFieldValid(formGroup, 'login') && formGroup.controls['login'].hasError('maxlength')">Email deve conter no maximo 100 caracteres.</mat-error>                                                                        
                            <mat-error *ngIf="isFieldValid(formGroup, 'login') && formGroup.controls['login'].hasError('pattern')">Email está em um formato <strong>incorreto</strong>. Exemplo: ciclano@provedor.com</mat-error>                                                                        
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':passwordEhValido===true}" [ngClass]="displayFieldCss(formGroup, 'password')">
                            <input type="password" matInput id="Password" (ngModelChange)="passwordValidation($event)" placeholder="Senha..." formControlName="password">
                            <mat-error *ngIf="isFieldValid(formGroup, 'password') && formGroup.controls['password'].hasError('required')">Senha é inválido. Informe o password.</mat-error>                                      
                            <mat-error *ngIf="isFieldValid(formGroup, 'password') && formGroup.controls['password'].hasError('minlength')">Senha deve conter no mínimo 6 caracteres.</mat-error>                                      
                            <mat-error *ngIf="isFieldValid(formGroup, 'password') && formGroup.controls['password'].hasError('maxlength')">Senha deve conter no maximo 20 caracteres.</mat-error>                                                                          
                          </mat-form-field>
                        </div>
                      </div>
                      <br>
                      <div class="text-center">
                        <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="formGroupOnClick()">Cadastrar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer ">
      </footer>
    </div>
  </div>
  